.navbar{
    background-color:rgba(var(--d87,255,255,255),1);
   border-bottom: solid 1px rgba(var(--b6a,219,219,219),1);;
   height: 54px;
   width: 100%;
   display: flex; 
   justify-content: center;
   position: fixed;
   top: 0;
}

.navs{
    height: 54px;
    max-width: 975px;
    padding:0 20px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav-icon{
    height: 30px;
    width: 30px;
}